jupyterlab
jupyter_contrib_nbextensions
lckr-jupyterlab-variableinspector
pillow
python-bioformats
aicsimageio
matplotlib-scalebar
svgwrite
seaborn
pyvista
svglib
reportlab
openpyxl
papermill
pyevtk
cairosvg